@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 29% 9%;
    --foreground: 0 0% 100%;

    --card: 240 24% 14%;
    --card-foreground: 0 0% 100%;

    --popover: 240 20% 14%;
    --popover-foreground: 0 0% 100%;

    --primary: 260 24% 54%;
    --primary-foreground: 0 0% 100%;

    --secondary: 260 29% 50%;
    --secondary-foreground: 0 0% 100%;

    --muted: 240 5% 25%;
    --muted-foreground: 240 5% 65%;

    --accent: 240 24% 14%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 100% 27%;
    --destructive-foreground: 0 0% 100%;

    --border: 240 15% 20%;
    --input: 240 15% 20%;
    --ring: 260 24% 54%;

    --radius: 0.25rem;
  }

  .dark {
    --background: 240 29% 9%;
    --foreground: 0 0% 100%;

    --card: 240 24% 14%;
    --card-foreground: 0 0% 100%;

    --popover: 240 20% 14%;
    --popover-foreground: 0 0% 100%;

    --primary: 260 24% 54%;
    --primary-foreground: 0 0% 100%;

    --secondary: 260 29% 50%;
    --secondary-foreground: 0 0% 100%;

    --muted: 240 5% 25%;
    --muted-foreground: 240 5% 65%;

    --accent: 240 24% 14%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 100% 27%;
    --destructive-foreground: 0 0% 100%;

    --border: 240 15% 20%;
    --input: 240 15% 20%;
    --ring: 260 24% 54%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}